<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Active</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/events']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">All Events</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/events/new']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       *ngIf="!authService.isAuthenticated()"
       [routerLink]="['user/login']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >Login</a>
    <a class="nav-link"
      *ngIf="authService.isAuthenticated()"
      [routerLink]="['user/profile']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      Welcome {{authService.currentUser.firstName}}</a>
  </li>
</ul>